body{

    background-color: #fff;
}

.formMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;

}

.formContainer {

    display: block;
    width: 100%;
    max-width: 20em;
    background-color:#0faf81;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
    padding: 1.5em;
    margin: 0 auto;
    font: 1.1em 'Raleway';
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    color: #a7e9db;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
   
    align-items: flex-end;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0.5em;
}

.fieldContainer label {
    margin-bottom: 0.5em;
}

.fieldContainer input[type="submit"] {
    background-color:#a7e9db ;
    color:#0a976d;
    /*box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);*/
    width: 100%;
    height: 2.5em;
    padding: 0.25em 2em;
    border: none;
    border-radius: 0.3em;
    margin-top: 1.5em;
    font: 1em 'Raleway';
   
}

.fieldContainer input[type="submit"]:hover {

     box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
    font-weight: 700;
     /*opacity: 0.8;*/
}

.fieldContainer input[type="text"],
.fieldContainer input[type="email"],
.fieldContainer input[type="date"],
.fieldContainer input[type="password"] {

    height: 2.5em;
    width: 100%;
    background-color: #a7e9db;
    border: none;
    color: #458672;
    border-radius: 0.3em;
}

.fieldContainer label {
    color:#a7e9db;
}

.fieldContainer input[type="checkbox"] {

    /* border: 1px solid white; */
     background-color: #fff;
     border-radius: 0.3em;
    border: none;
}

.remember {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
}
.remember label {
    margin-left: 55%;
    margin-bottom: 0;
    /* За да не е разтегнат, сложи: */
    white-space: nowrap; /* да не се пренася */
    cursor: pointer;
}

.vatContainer {
    display: flex;
    align-items: center;
}

.checkboxLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    color: #a7e9db;
    cursor: pointer;
    white-space: nowrap;
}
.fieldContainer label {
    display: flex;
    flex-direction: row; /* или inline-flex */
    align-items: center;
    gap: 0.5em; /* разстояние между чекбокса и текста */
    color: #a7e9db;
    margin-bottom: 0.5em;
}


.createCompanyBtn {
    margin-top: 0.5em;
    background: #a7e9db;
    border: none;
    color: #458672;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    font: 1em 'Raleway';
    width: 100%;
}

.createCompanyBtn:hover{
    box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
    font-weight: 700;
}

